@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* :root{
  --primary: red;
} */

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  transition: all 0.2s ease; /* add transition effect */
}

a{
  text-decoration: none;
}

.navbar h1{
  font-size: 30px;
  font-weight: bold;
}
.song-list-main{
 
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 1px 0;
  margin: 10px;
  
}
.song-list-main h2{
  padding: 15px 15px;
  font-size: 22px;
  font-weight: bold;

}
.song-list{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.lyrics-area{
  
  padding: 1%;
  
}

.lyrics{
  margin: 10px;
  padding: 3%;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  justify-content:space-between;

}
.admin-panel{
  display: flex;
}
.admin-sidebar{
  background-color: #d67272;
}
.admin-main{
  margin: 20px;
  width: 100%;
  
}

.add-form{
  display: block;
}

.add{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}